.TodoApp {
    background-color: #f5f5f5;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}

.TodoApp div {
    width: 100%;
    max-width: 800px;
}