.List {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0;
    font-size: 20px;
    list-style: none;
    padding: 20px 0;
}

.List li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.List p {
    list-style: none;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px 20px 10px 10px;
    text-align: left;
    width: calc(100% - 100px);
    width: 100%;
}

.List span {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    border-radius: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    cursor: pointer;
    margin: 0 10px 0 20px;
}